bin/
test-run-*/
test-quick/
test-faults/
ycsb-results/
*.html
__pycache__/
*.jar
tlaplus/states/
*_TTrace_*.tla
*_TTrace_*.bin
evaluation/runs/
redis/runs/
redis-results/
redis-results/
redis-results-full/
redis-results-matched/